<app-standard-page>
    <h2>Arch-shaped parliament diagram generator</h2>

    <div id="presentation">
        <p>
            To add a party to be displayed, click the button to "Add a party manually", as many times as there are parties to display.
            Then, fill the number of seats, the display color, and the party name for each.
        </p>

        <p>
            After filling in the parties, click "Make my diagram", and it will be generated and displayed.
            A button will enable you to download it.<br/>
            You can then freely use the diagram, but to use it in Wikipedia, you need to upload it to Wikimedia Commons.
        </p>

        <p>
            If the layout of the seats in the diagram seems strange, or if you want to customize it, you can try other options in the "Advanced parameters" section.
        </p>

        <p>
            Please submit bug reports and feature requests at the project's <a href="https://codeberg.org/Gouvernathor/ParliamentDiagram-Angular/issues">issue tracker</a>.
        </p>
    </div>

    <!-- (later) query party list from a Commons diagram -->

    <!-- (later) query party list from a country in a list -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Advanced parameters</mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <label for="seatRadiusFactorInput"
                matTooltip="The size of the circles that make up the seats. At 1, neighbor seats will touch one another, at 0 the seats are invisible."
            >Seat radius factor</label>
            <mat-slider [discrete]="true" [min]=".01" [max]="1" [step]=".01">
                <input id="seatRadiusFactorInput" matSliderThumb [formField]="diagramForm.seatRadiusFactor" />
            </mat-slider>
        </div>

        <div>
            <label for="seatNumberFontSizeFactorInput"
                matTooltip="Multiply the font size for the number of seats by that much. Put 0 to hide the number of seats."
            >Seat number font size factor</label>

            <mat-form-field>
                <mat-label>Seat number font size factor</mat-label>
                <input matInput type="number" step=".01" [formField]="diagramForm.seatNumberFontSizeFactor" />
            </mat-form-field>

            <mat-slider [discrete]="true" [min]="0" [max]="10" [step]=".01">
                <input aria-label="" matSliderThumb [formField]="diagramForm.seatNumberFontSizeFactor" />
            </mat-slider>
        </div>

        <!-- number input for minNRows -->

        <div>
            <label for="fillingStrategy"
                matTooltip="How the seats are allocated among the rows."
            >Filling strategy</label>
            <mat-button-toggle-group
                id="fillingStrategy" name="fillingStrategy" aria-label="Filling strategy"
                [value]="diagramForm.fillingStrategy().value()"
                (change)="diagramForm.fillingStrategy().value.set($event.value)"
            >
                <mat-button-toggle
                    [value]="FillingStrategy.DEFAULT"
                    matTooltip="The seats are distributed proportionally to the maximal number of seats each row can hold. The result is that the lateral distance between the seats is close among all rows."
                >Default</mat-button-toggle>
                <mat-button-toggle
                    [value]="FillingStrategy.EMPTY_INNER"
                    matTooltip="This selects as few outermost rows as necessary to hold the given seats, then distributes the seats proportionally among them. It results in denser rows."
                >Empty inner rows</mat-button-toggle>
                <mat-button-toggle
                    [value]="FillingStrategy.OUTER_PRIORITY"
                    matTooltip="This fills the rows to their maximal capacity, starting with the outermost rows going in. The result is that given a number of rows, adding one seat makes a change in only one row."
                >Outer rows priority</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <!-- slider for spanAngle -->
    </mat-expansion-panel>

    <div id="partylistarea">
        <button matButton="tonal" (click)="addParty()">+ Add a party manually</button>

        <div id="partylist">
            @for (party of diagramForm.parties; track $index) {
                <mat-card class="partycard"><mat-card-content>
                    <mat-form-field>
                        <mat-label>Party name</mat-label>
                        <input matInput [formField]="party.name" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Seats</mat-label>
                        <input matInput type="number" [formField]="party.nSeats" />
                    </mat-form-field>

                    <!-- TODO add label duh -->
                    <color-input
                        [attr.value]="party.color().value()"
                        (change)="party.color().value.set($any($event).detail.value)"
                    />

                    <div>
                        <label for="borderWidth{{$index}}">Border width</label>
                        <mat-slider [discrete]="true" [min]="0" [max]="1" [step]=".01">
                            <input id="borderWidth{{$index}}" matSliderThumb [formField]="party.borderWidth" />
                        </mat-slider>
                    </div>

                    <!-- TODO add label duh -->
                    <color-input no-alpha [hidden]="party.borderWidth().value() <= 0"
                        [attr.value]="party.borderColor().value()"
                        (change)="party.borderColor().value.set($any($event).detail.value)"
                    />

                    <button matButton="outlined" (click)="removeParty($index)">
                        Delete party
                    </button>

                    <!-- TODO drag handle -->
                </mat-card-content></mat-card>
            }
        </div>
    </div>

    <!-- TODO show the validation errors on a tooltip -->
    <button matButton="filled" (click)="generateDiagram()" [disabled]="!diagramForm().valid()">Make my diagram</button>

    @if (diagramForm().errorSummary().length) {
        <mat-card class="errorcontainer"><mat-card-content>
            @for (error of diagramForm().errorSummary(); track $index) {
                <p>{{error.message}}</p>
            }
        </mat-card-content></mat-card>
    }

    @if (diagrams().length) {
        <div id="diagrams">
            @for (diagram of diagrams(); track $index) {
                <div class="diagramcard">
                    <div [appContents]="diagram"></div>

                    <button matButton="tonal" (click)="downloadDiagram(diagram)">
                        Download SVG diagram
                    </button>
                </div>
            }
        </div>
    }
</app-standard-page>
