<app-standard-page>
    <h2>Arch-shaped parliament diagram generator</h2>

    <!-- presentation and explanations -->

    <!-- (later) query party list from a Commons diagram -->

    <!-- (later) query party list from a country in a list -->

    <!-- (later) advanced parameters -->

    <div id="partylistarea">
        <button matButton="tonal" (click)="addParty()">+ Add a party manually</button>

        <div id="partylist">
            @for (party of diagramForm.parties; track $index) {
                <mat-card><mat-card-content>
                    <mat-form-field>
                        <mat-label>Party name</mat-label>
                        <input matInput [formField]="party.name" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Seats</mat-label>
                        <input matInput type="number" [formField]="party.nSeats" />
                        <!-- min 0 -->
                    </mat-form-field>

                    <!-- TODO add color picker -->
                    {{party.color().value()}}

                    <mat-form-field>
                        <mat-label>Border width</mat-label>
                        <input matInput type="number" step=".01" [formField]="party.borderWidth" />
                        <!-- min 0 max 1 -->
                    </mat-form-field>

                    <!-- TODO add color picker -->
                    {{party.borderColor().value()}}
                </mat-card-content></mat-card>
            }
        </div>
    </div>

    <button matButton="filled">Make my diagram</button>

    @if (false) {
        <div id="diagrams">
            <!-- TODO put the generated diagrams here, with button to dl -->
        </div>
    }
</app-standard-page>
