<app-standard-page>
    <h2>Arch-shaped parliament diagram generator</h2>

    <!-- presentation and explanations -->

    <!-- (later) query party list from a Commons diagram -->

    <!-- (later) query party list from a country in a list -->

    <!-- (later) advanced parameters -->

    <div id="partylistarea">
        <button matButton="tonal" (click)="addParty()">+ Add a party manually</button>

        <div id="partylist">
            @for (party of parties(); track $index) {
                <p>{{party.name}}_{{party.nSeats}}_{{party.color}}_{{party.borderWidth}}_{{party.borderColor}}</p>
            }
        </div>
    </div>

    <button matButton="filled">Make my diagram</button>

    @if (false) {
        <div id="diagrams">
            <!-- TODO put the generated diagrams here, with button to dl -->
        </div>
    }
</app-standard-page>
