#partylist {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    .partycard {
        margin-inline: 15px;
        width: fit-content;

        mat-card-content {
            display: flex;
            justify-content: space-between;

            @media (width < 1250px) {
                display: grid;
                gap: 10px;
            }
        }
    }
}

.errorcontainer {
    color: var(--mat-sys-error);
    background-color: var(--mat-sys-error-container);
}

.diagramcard {
    color: var(--mat-sys-on-surface-variant);
    background-color: var(--mat-sys-surface-variant);

    // need to constrain the size of the diagram
    max-width: 800px;
}
