mat-toolbar {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);

    // background-color: var(--mat-sys-primary);
    // color: var(--mat-sys-on-primary);
}

footer {
    padding-block: 20px;
    margin-block-start: 80px;
    text-align: center;

    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-secondary);
}
