@mixin error-container {
    color: var(--mat-sys-error);
    background-color: var(--mat-sys-error-container);

    padding: 16px;
    border-radius: var(--mat-sys-corner-medium);

    > :first-child {
        margin-block-start: 0;
    }
    > :last-child {
        margin-block-end: 0;
    }
}

@mixin diagram-card($max-width: 800px) {

    color: var(--mat-sys-on-surface-variant);
    background-color: var(--mat-sys-surface-variant);

    // need to constrain the size of the diagram
    max-width: $max-width;
}
