<app-standard-page [authInNewTab]="false">
    <h2>OAuth landing</h2>

    @if (sessionService) {
        @if (code()) {
            @if (error()) {
                <div class="errorcontainer">
                    <p>An error occurred when completing the authorization.</p>
                    <p>{{error().toString()}}</p>
                </div>
            } @else if (done()) {
                <p>Done ! You can close this tab or go to another page.</p>
            } @else {
                <p>Please wait, your authentication is being processed…</p>
            }
        } @else {
            <p>Wrong redirect : no code provided in the URL.</p>
        }
    } @else {
        <p>OAuth is disabled on this version of ParliamentDiagram.</p>
    }
</app-standard-page>
