<ng-content select="[data-label]" />

<button matButton="tonal" (click)="addParty()">+ Add a party manually</button>

@if (list().value().length) {
    <div class="partylist" cdkDropList (cdkDropListDropped)="drop($event)">
        @for (party of list().value(); track $index) {
            <div class="party" cdkDrag cdkDragBoundary="app-partylist">
                <div class="partyform">
                    <!--  -->
                </div>

                <mat-divider [vertical]="true" />

                <div class="reordercontainer">
                    <button matMiniFab [disabled]="$first" (click)="moveUp($index)">↑</button>
                    <span class="handle" cdkDragHandle>☰</span>
                    <button matMiniFab [disabled]="$last" (click)="moveDown($index)">↓</button>
                </div>
            </div>
        }
    </div>

    <!-- TODO other button to add a party ? -->
}
