<app-standard-page>
    <h2>Parliament majority calculator</h2>

    <div id="presentation">
        <p>
            This tool helps display the results of a vote in an assembly.
        </p>

        <!-- TODO expand with some how-to-use -->

        <p>
            Please submit bug reports and feature requests at the project's <a href="https://codeberg.org/Gouvernathor/ParliamentDiagram-Angular/issues">issue tracker</a>.
        </p>
    </div>

    @let currentPreset = this.currentPreset();

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Options</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Assembly preset</mat-label>

            <mat-select
                [value]="currentPreset" (selectionChange)="usePreset($event.value)"
                [panelWidth]="null"
            >
                @for (preset of presets; track $index) {
                    <mat-option [value]="preset">{{preset.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

            <!-- TODO options
            majority ratio OR number of seats
             -->

        <div>
            <mat-checkbox [formField]="form.countAbstainAsAgainst">
                Count abstentions as votes against
            </mat-checkbox>

            <mat-checkbox [formField]="form.displayAbstainIfNotCountedAsAgainst" [disabled]="form.countAbstainAsAgainst().value()">
                Display abstention votes
            </mat-checkbox>
        </div>

        <div>
            <mat-checkbox [formField]="form.editPartyList">
                Edit the parties
            </mat-checkbox>
        </div>

            <!-- TODO
            also same options as for the arch (except that the number of seats is hidden, at least by default)
             -->

        <div class="formField">
            <!-- TODO display the error if out of bounds -->
            <label for="borderThickness">Border thickness for "against" and "abstain" votes</label>
            <mat-slider [min]="0" [max]="1" [step]=".01" [discrete]="true">
                <input id="borderThickness" matSliderThumb [formField]="form.borderThickness" />
            </mat-slider>
        </div>
    </mat-expansion-panel>


    @if (currentPreset) {
        <div class="presetdisplay">
            <p><b>{{currentPreset.name}}</b></p>
            <p>{{currentPreset.about}}</p>
        </div>
    }

    <div class="partygrid">
        @let totalNSeats = form.parties().value().reduce((a, p) => a + p.nSeats, 0);

        @for (party of form.parties; track party) {
            @let value = party().value();
            <div class="party" [style.--party-color]="value.color">
                <p class="partyname">{{value.name}}</p>
                <p>{{value.nSeats}} seat{{value.nSeats > 1 ? "s" : ""}} ({{ value.nSeats/totalNSeats | percent:'1.0-1' }})</p>

                <!-- TODO make the 3 values above editable if editPartyList -->

                <mat-button-toggle-group
                    aria-label="Whole party voting position"
                >
                    <mat-button-toggle
                        [checked]="value.nSeats === value.nYea"
                        (change)="[
                            party.nYea().value.set(value.nSeats),
                            party.nNay().value.set(0)]"
                    >For</mat-button-toggle>
                    <mat-button-toggle
                        [checked]="value.nYea + value.nNay === 0"
                        (change)="[
                            party.nYea().value.set(0),
                            party.nNay().value.set(0)]"
                    >Abstain</mat-button-toggle>
                    <mat-button-toggle
                        [checked]="value.nSeats === value.nNay"
                        (change)="[
                            party.nYea().value.set(0),
                            party.nNay().value.set(value.nSeats)]"
                    >Against</mat-button-toggle>
                </mat-button-toggle-group>

                <!-- TODO
                a double slider, green on the left, red on the right, and grey in the middle (with patterns if possible)
                    custom handles, one draggable on the top, the other rotated 180° and draggable on the bottom
                    when the number of abstentions is 0, add a (visible or not) drag handle in the middle that moves both
                 -->
            </div>
        }

        <!-- TODO button to add a party if editPartyList -->
    </div>

    @if (form().dirty() && errorMessages().length) {
        <div class="errorcontainer">
            @for (message of errorMessages(); track $index) {
                <p>{{message}}</p>
            }
        </div>
    }

    <!-- TODO
    a bar
    with a majority threshold visible, and another for the reached percentage
    not counting the abstentions unless counted as nay
    different colors and patterns on both sides of the bar
    the result of the vote as text
     -->

    @let diagram = this.diagram();
    @if (diagram) {
        <!--
        an arch, updated automatically
        maybe use a dedicated component, but for now just use the contents directive
         -->
        <div [appContents]="diagram"></div>
    }
</app-standard-page>
