@use '@angular/material' as mat;
@use "../shared/common-style.scss" as *;

.options-expansion {
    @include mat.expansion-overrides((
        container-background-color: var(--mat-sys-surface-container),
    ));
}

mat-slider {
    max-width: 250px;
}

.presetdisplay {
    background-color: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);

    @include text-container;
}

.errorcontainer {
    @include error-container;
}

.partygrid {
    background-color: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface-container-low);

    @include generic-container;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;

    .party {
        background-color: var(--mat-sys-surface-container-high);
        color: var(--mat-sys-on-surface-container-high);

        @include generic-container;

        flex: 1 1 auto;

        .partyname {
            border-radius: 10000px;
            padding: .5em;

            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            background-color: var(--party-color);
            color: contrast-color(var(--party-color));
        }
    }
}
