@use "../shared/common-style.scss" as *;

mat-slider {
    max-width: 250px;
}

.presetdisplay {
    background-color: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);

    @include text-container;
}

.errorcontainer {
    @include error-container;
}

.partygrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;

    .party {
        flex: 1 1 auto;

        .partyname {
            border-radius: 10000px;
            padding: .5em;

            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            background-color: var(--party-color);
            color: contrast-color(var(--party-color));
        }
    }
}
