<div class="block card">
    <div class="card-body">
        <div class="row"><div class="col-12">
            <button type="button" class="btn btn-primary" [class.active]="advancedShown" [ariaPressed]="advancedShown" (click)="toggleAdvanced()">
                Advanced parameters
            </button>
        </div></div>

        @if (advancedShown) {
            <div id="advanced-body" class="row">
                <div class="col-12 mt-2">
                    <h5>Filling strategy</h5>
                    <ul class="list-group">
                        @for (item of [
                            { n: FillingStrategy.DEFAULT, title: "Evenly filled (default)" },
                            { n: FillingStrategy.EMPTY_INNER, title: "Empty inner rows" },
                            { n: FillingStrategy.OUTER_PRIORITY, title: "Outer rows priority" }
                        ]; track item.n) {
                            <li class="list-group-item">
                                <!-- TODO add tooltip : https://getbootstrap.com/docs/5.3/components/tooltips/ -->
                                <input class="form-check-input me-1" type="radio" name="fillingStrategy" id="fillingStrategy{{item.n}}" [checked]="fillingStrategy === item.n" (change)="fillingStrategy = item.n"/>
                                <label class="form-check-label stretched-link" for="fillingStrategy{{item.n}}">{{item.title}}</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<div #partylistcard class="block card">
    <div class="card-body">
        <button id="addpartymanual" class="btn btn-success" (click)="addPartyManual()">+ Add a party manually</button>
        <div id="partylistcontainer" class="sortableContainer" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (party of partylist(); track party.nId) {
                <div id="party{{party.nId}}" class="card partycard" cdkDrag [cdkDragData]="party" [cdkDragBoundary]="partylistcard">
                    <div class="card-body">
                        <form class="form-floating">
                            <input type="text" class="form-control" name="partyName{{party.nId}}" value="{{party.name()}}" [class.is-invalid]="!party.name().trim()" (change)="party.name.set($event.target.value.trim())"/>
                            <label for="partyName{{party.nId}}">Party {{party.nId}} Name</label>
                        </form>

                        <form class="form-floating">
                            <input type="number" class="form-control" name="partySeats{{party.nId}}" min="0" step="1" value="{{party.nSeats()}}" [class.is-invalid]="party.nSeats() < 0 || !isInt(party.nSeats())" (change)="party.nSeats.set($event.target.valueAsNumber)"/>
                            <label for="partySeats{{party.nId}}">Party {{party.nId}} Seats</label>
                        </form>

                        <form class="form-floating">
                            <!-- TODO make a proper color input -->
                            <!-- <input type="color" class="form-control form-control-color" name="partyColor{{party.nId}}" value="{{party.fillColor}}" (change)="party.fillColor = $event.target.value"/> -->
                            <input type="text" class="form-control" name="partyColor{{party.nId}}" value="{{party.fillColor()}}" (change)="party.fillColor.set($event.target.value)"/>
                            <label for="partyColor{{party.nId}}">Party {{party.nId}} Color</label>
                        </form>

                        <form class="form-floating">
                            <input type="range" class="form-control form-range" name="partyBorderWidth{{party.nId}}" min="0" step=".001" max="1" value="{{party.borderWidth()}}" (change)="party.borderWidth.set($event.target.valueAsNumber)"/>
                            <label for="partyBorderWidth{{party.nId}}">Party {{party.nId}} Border Width&nbsp;: {{(party.borderWidth()*100).toFixed()}}%</label>
                        </form>

                        <form class="form-floating">
                            <!-- TODO same -->
                            <input type="text" class="form-control" name="partyBorderColor{{party.nId}}" value="{{party.borderColor()}}" (change)="party.borderColor.set($event.target.value)"/>
                            <label for="partyBorderColor{{party.nId}}">Party {{party.nId}} Border Color</label>
                        </form>

                        <button class="btn btn-danger" (click)="deleteParty(party.nId)">Delete party {{party.nId}}</button>

                        <span class="handle btn btn-secondary mover" cdkDragHandle>☰</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<button id="diagrammaker" class="btn btn-primary" (click)="makeDiagram()" [disabled]="totalSeats() < 1">Make my diagram</button>

@if (svgs.length) {
    <div class="block card">
        <div class="card-body" id="svgcontainer">
            @for (svg of svgs; track svgs.length - $index) {
                <p #p id="svgp-{{$count-$index}}" [appFirstChild]="svg">
                    <!-- diagram ends up here -->
                    <br/>
                    <button class="btn btn-success" (click)="downloadSVG(svg)">Download</button>
                    <!-- <hr/> then Legend template for use in Wikipedia&nbsp;: then the template -->
                </p>
            }
        </div>
    </div>
}
