<app-standard-page>
    <h2>Westminster-style parliament diagram generator</h2>

    <div id="presentation">
        <p>
            This is a tool to generate diagrams of a Westminster-style parliament, composed of a left bench, a right bench, an optional cross-bench group, and a speaker.
        </p>

        <p>
            Add parties to be displayed, filling (for each party) the area it belongs to, its number of seats, and the color used to display it.
        </p>

        <p>
            After filling the parties, click "Make my diagram", and it will be generated and displayed.
            A button will enable you to download it.<br/>
            You can then freely use the diagram, but to use it in Wikipedia, you need to upload it to Wikimedia Commons.
        </p>

        <p>
            Please submit bug reports and feature requests at the project's <a href="https://codeberg.org/Gouvernathor/ParliamentDiagram-Angular/issues">issue tracker</a>.
        </p>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Advanced parameters</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-slide-toggle
            matTooltip="Whether parties in the same area are allowed to share a column (a row for crossbenchers)"
            [formField]="diagramForm.packed"
        >
            Packed
        </mat-slide-toggle>

        <div>
            <label for="spacingFactorInput"
                matTooltip="The size of the squares that make up the seats. At 1, neighboring seats will be in contact with one another, at 0 the seats are invisible."
            >
                Spacing factor
            </label>
            <mat-slider [discrete]="true" [min]=".01" [max]="1" [step]=".01">
                <input id="spacingFactorInput" matSliderThumb [formField]="diagramForm.spacingFactor" />
            </mat-slider>
        </div>

        <div>
            <label for="roundingRadiusInput"
                matTooltip="Whether and how much the corners of the seats are rounded. 0 will give you perfect squares, 0.5 will give you perfect circles. Can also be set for each party."
            >
                Rounding radius
            </label>
            <mat-slider [discrete]="true" [max]=".5" [step]=".01">
                <input id="roundingRadiusInput" matSliderThumb [formField]="diagramForm.roundingRadius" />
            </mat-slider>
        </div>

        <mat-form-field matTooltip="Force a number of rows for the government and opposition wings. Ignored if 0, or less than the number of seats.">
            <mat-label>Wing rows</mat-label>
            <input matInput type="number" [formField]="diagramForm.wingNRows" />
        </mat-form-field>
        <mat-form-field matTooltip="Force a number of columns for the crossbenchers. Ignored if 0, or less than the number of seats.">
            <mat-label>Cross-bench columns</mat-label>
            <input matInput type="number" [formField]="diagramForm.crossNCols" />
        </mat-form-field>

        <!-- auto-speaker ? -->
    </mat-expansion-panel>

    <div>
        <app-partylist
            [list]="diagramForm.parties.speak"
        >
            <h3 data-label>Speaker parties</h3>
        </app-partylist>

        <app-partylist
            [list]="diagramForm.parties.government"
        >
            <h3 data-label>Government parties</h3>
        </app-partylist>

        <app-partylist
            [list]="diagramForm.parties.opposition"
        >
            <h3 data-label>Opposition parties</h3>
        </app-partylist>

        <app-partylist
            [list]="diagramForm.parties.cross"
        >
            <h3 data-label>Crossbench parties</h3>
        </app-partylist>
    </div>

    <div>
        <button matButton="text"
            (click)="savePreset()"
        >
            Download preset
        </button>

        <button matButton="filled"
            [disabled]="!diagramForm().valid()"
            [disabledInteractive]="true"
            (click)="diagramForm().valid() && generateDiagram()"
            [matTooltip]="diagramForm().errorSummary().map(e => e.message).join('\n')"
        >
            Make my diagram
        </button>

        @if (diagramForm().dirty() && diagramForm().errorSummary().length) {
            <div class="errorcontainer">
                @for (error of diagramForm().errorSummary(); track $index) {
                    <p>{{error.message}}</p>
                }
            </div>
        }
    </div>

    @if (diagrams().length) {
        <div id="diagrams">
            @for (diagram of diagrams(); track $index) {
                <div class="diagramcard">
                    <div [appContents]="diagram"></div>

                    <button matButton="tonal" (click)="downloadDiagram(diagram)">
                        Download SVG diagram
                    </button>
                </div>
            }
        </div>
    }
</app-standard-page>
