<app-standard-page>
    <h2>Westminster-style parliament diagram generator</h2>

    <div id="presentation">
        <p>
            This is a tool to generate diagrams of a Westminster-style parliament, composed of a left bench, a right bench, an optional cross-bench group, and a speaker.
        </p>

        <p>
            Add parties to be displayed, filling (for each party) the area it belongs to, its number of seats, and the color used to display it.
        </p>

        <p>
            After filling the parties, click "Make my diagram", and it will be generated and displayed.
            A button will enable you to download it.<br/>
            You can then freely use the diagram, but to use it in Wikipedia, you need to upload it to Wikipedia Commons.
        </p>

        <p>
            Please submit bug reports and feature requests at the project's <a href="https://codeberg.org/Gouvernathor/ParliamentDiagram-Angular/issues">issue tracker</a>.
        </p>
    </div>

    <!-- (later) common options affecting all the diagram (wingNRows, crossNCols, packed, roundingRadius, spacingFactor), and maybe the automatic speaker spots -->

    <div class="partylistarea">
        <!-- speak -->
        <app-partylist />

        <!-- government -->
        <app-partylist />

        <!-- opposition -->
        <app-partylist />

        <!-- cross -->
        <app-partylist />
    </div>

    <div>
        <button matButton="filled"
            [disabled]="!diagramForm().valid()"
            [disabledInteractive]="true"
            (click)="diagramForm().valid() && generateDiagram()"
            [matTooltip]="diagramForm().errorSummary().map(e => e.message).join('\n')"
        >
            Make my diagram
        </button>

        @if (diagramForm().dirty() && diagramForm().errorSummary().length) {
            <div class="errorcontainer">
                @for (error of diagramForm().errorSummary(); track $index) {
                    <p>{{error.message}}</p>
                }
            </div>
        }
    </div>

    @if (diagrams().length) {
        <div id="diagrams">
            @for (diagram of diagrams(); track $index) {
                <div class="diagramcard">
                    <div [appContents]="diagram"></div>

                    <button matButton="tonal" (click)="downloadDiagram(diagram)">
                        Download SVG diagram
                    </button>
                </div>
            }
        </div>
    }
</app-standard-page>
