mat-toolbar {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);

    // background-color: var(--mat-sys-primary);
    // color: var(--mat-sys-on-primary);

    mat-toolbar-row {
        display: flex;
        gap: 10px;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .logo {
        height: 50%;
        filter: drop-shadow(0 0 2.5px contrast-color(var(--mat-sys-primary-container)));
    }
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 10px;
    margin-block: 10px;

    text-align: center;
}

nav,
main {
    /*
    https://m3.material.io/foundations/layout/applying-layout/compact
    and following pages for larger sizes, Spacing section
    */

    margin-inline: var(--reactive-margin);

    // compact
    @media (width < 600px) {
        --reactive-margin: 16px;
    }

    // medium
    @media (600px <= width <= 839px) {
        --reactive-margin: 24px;
    }

    // expanded
    @media (840px <= width <= 1199px) {
        --reactive-margin: 24px;

        // centered, width is lower boundary - 2*margin
        margin-inline: auto;
        max-width: 792px;
    }

    // large
    @media (1200px <= width <= 1599px) {
        --reactive-margin: 24px;

        // centered, width is lower boundary - 2*margin
        margin-inline: auto;
        max-width: 1152px;
    }

    // extra-large
    @media (1500px <= width) {
        --reactive-margin: 24px;

        // centered, width is lower boundary - 2*margin
        margin-inline: auto;
        max-width: 1452px;
    }
}

footer {
    padding-block: 20px;
    margin-block-start: 80px;
    text-align: center;

    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-secondary);
}
